@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="top-title">About</h1>

<p id="about">
    My name is Melvin Gruschow, and I'm a Junior Web Developer.  I use to be an IT Administrator for a software company in the Belletown neighborhood in Seattle, Washington, but I've always been interested in code.  At a young age, I was curious about the workings of computers, and would write some batch files to try and automate my life.  I had a single browser icon that when opened, I got to select which of my 4 browsers I had installed that I wanted to run.  I also remember being frustrated with Microsoft for not including a password protection functionality for folders, and implemented my own security by requiring a password before opening some of my own files.  In college, I specialized in the Cisco command line for configuring routers, and found that I preferred interfacing in that sort of binary fashion.  I began studying Front End development (HTML, CSS, and JavaScript) on my own time for a couple months towards the end of my IT career, and eventually switched to studying full time.  This brought me to Epicodus, which has lead me to this moment in time.  Please have fun exploring some other projects located on the <a href="Home/Github">Github</a> page.  Dont forget to go back to the home page and leave your name!
</p>